<%= form_with model: reservationc, url:customers_reservationcs_verification_path, local: true do |f| %>
  <% if reservationc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservationc.errors.count, "error") %> prohibited this reservationc from being saved:</h2>

      <ul>
      <% reservationc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :名前 %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :チェックイン %>
    <%= f.datetime_select :start_time %>
  </div>

　<div class="field">
    <%= f.label :チェックアウト %>
    <%= f.datetime_select :end_time %>
  </div>

　<div class="field">
    <%= f.label :人数 %>
    <%= f.number_field :number_of_people %>人
  </div>

  <div class="field">
    <%= f.label :料金 %>
   　¥15000
  </div>
    <%= f.hidden_field :course_id %>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
