<%= form_with model: reservationc, url:customers_reservationcs_verification_path, local: true do |reservationc| %>
  <% if reservationc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservationc.errors.count, "error") %> prohibited this reservationc from being saved:</h2>

      <ul>
      <% reservationc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :名前 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :チェックイン %>
    <%= form.datetime_select :start_time %>
  </div>

　<div class="field">
    <%= form.label :チェックアウト %>
    <%= form.datetime_select :start_time %>
  </div>

　<div class="field">
    <%= form.label :人数 %>
    <%= form.number_field :number_of_people %>人
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
