<%= render 'layouts/admin.header'%>
<h2 class="head-line title_h2 text-center">予約情報一覧</h2>
 <div calss="row">
  <div class="col-xs-9">
      <table class="table table-hover table-inverse table-bordered">
        <thead>
          <tr class="info">
            <th>コース</th>
            <th>名前</th>
            <th>人数</th>
            <th>料金(税込)</th>
          </tr>
        </thead>
        <tbody>
         <%= @reservationcs.each do |reservation| %>
            <tr>
              <td class="text-right">
               <%= reservation.course.name %>
              </td>
              <td class="text-right">
               <%= reservation.name %>
              </td>
              <td>
                <%= reservation.number_of_people %>
              </td>
              <td class="text-right">
                <%= (reservation.course.price * reservation.number_of_people).to_s(:delimited)  %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
