<%= render 'layouts/admin_header' %>
<div class="container my-5">
 <div class="row">
 </div>

 <div class="row my-3">
  <div class="offset-sm-3">
   <h2>新規登録</h2>
 <div class="row">
<%= form_for(@course, url: {controller: 'courses', action: 'create' }) do |f| %>
      <div class="form-group">
        <%= f.label :写真 %>
        <div class="row">
          <%= f.attachment_field :image_id %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :コース %>
          <%= f.text_field :name %>
      </div>

      <div class="form-group">
        <%= f.label :コース紹介 %>
        <div class="row">
        <%= f.text_area :introduction %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :税抜き価格 %>
        <lavel><%= f.text_field :non_tax_price %>円</lavel>
      </div>

      <div class="row">
        <%= f.submit "新規登録" %>
      </div>
    <% end %>
      </div>
       </div>

  </div>
</div>