<%= render 'layouts/customer.header' %>
<div class="container">
  <div class="row">
    <div class='col-12 text-center'>
  <h1>DMMホテルへようこそ!</h1>
<h4>DMMホテルは、お客様に癒しと安らぎの時間を与えるため、</h4>
<h4>様々なご宿泊プランをご⽤意しております。</h4>
<h4>また、当旅館自慢の露天風呂からは、絶景をご覧いただけます。</h4>
<h4>ぜひお越しください。</h4>

<div class="container my-5">

  <h2 class="product-headline head-line title_h2 text-center">
	  コース一覧
	</h2>


   <div class="row">

		<% @courses.each do |course| %>

          <div class="col-lg-3 col-md-5 mb-5 my-5">

            <div id="img_field" class="product">
              <%= attachment_image_tag(course, :image, size: "180x130") %>
            </div>
            <p class="courses-name">
              <%= link_to course.name, customers_course_path(course.id) %>
            </p>
            <p class="course-introduction">
              <%= course.introduction %>
            </p>
            <p class="course-price">
              <%= course.price %>円
            </p>
          <% end %>
          </div>
	  </div>
   </div>
  </div>
</div>