 <%= form_for(@course, url: {controller: 'courses', action: 'create' }) do |f| %>
      <div class="form-group">
        <%= f.label :写真 %>
        <div class="row">
          <%= course.image %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :コース %>
          <%= course.name %>
      </div>

      <div class="form-group">
        <%= f.label :コース紹介 %>
        <div class="row">
        <%= course.introduction %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :税抜き価格 %>
        <lavel><%= course.price %>円</lavel>
      </div>
